@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/Framework.sass */
html, body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.01em;
}

/* line 11, ../sass/Framework.sass */
h1, .h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h1 small, .h1 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 13, ../sass/Framework.sass */
h2, .h2 {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h2 small, .h2 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 15, ../sass/Framework.sass */
h3, .h3 {
  font-size: 2em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h3 small, .h3 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 17, ../sass/Framework.sass */
h4, .h4 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h4 small, .h4 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 19, ../sass/Framework.sass */
h5, .h5 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h5 small, .h5 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 21, ../sass/Framework.sass */
h6, .h6 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  display: block;
}
/* line 7, ../sass/mixin.sass */
h6 small, .h6 small {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 23, ../sass/Framework.sass */
kbd {
  border: solid 1px #ccc;
}

/* line 26, ../sass/Framework.sass */
mark {
  background: #00CFFF;
}

/* line 28, ../sass/Framework.sass */
del {
  text-decoration: line-through;
}

/* line 30, ../sass/Framework.sass */
u {
  text-decoration: underline;
}

/* line 32, ../sass/Framework.sass */
strong {
  font-weight: bold;
}

/* line 34, ../sass/Framework.sass */
em {
  font-style: italic;
}

/* line 36, ../sass/Framework.sass */
abbr {
  color: #19003C;
}

/* line 38, ../sass/Framework.sass */
blockquote {
  display: inline-block;
  background: #CCCCCC;
  font-style: italic;
  font-size: 1.1em;
  border-left: solid 3px #545454;
  padding: 0.3em;
  margin: 0.3em;
}
/* line 46, ../sass/Framework.sass */
blockquote:before {
  content: "“ ";
  font-size: 1.4em;
  color: #545454;
}
/* line 50, ../sass/Framework.sass */
blockquote::after {
  content: " „";
  font-size: 1.4em;
  color: #545454;
}

/* line 54, ../sass/Framework.sass */
code {
  font-family: "Andale Mono", AndaleMono, monospace;
  display: inline-block;
  margin: 0.2em;
  padding: 0.3em;
  color: #64FF64;
  background: #333;
}

/* line 64, ../sass/Framework.sass */
ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0.3em;
}
/* line 68, ../sass/Framework.sass */
ul.square {
  list-style-type: square;
}
/* line 70, ../sass/Framework.sass */
ul.none {
  list-style-type: none;
  padding-left: 0em;
}

/* line 73, ../sass/Framework.sass */
table {
  margin: 0.3em;
}
/* line 75, ../sass/Framework.sass */
table td, table th {
  border: solid 2px #333;
  padding: 0.5em;
}
/* line 78, ../sass/Framework.sass */
table th {
  background: #aaa;
}
