
@import compass/reset
@import mixin

// Base
html,body
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
	letter-spacing: 0.01em

// Titre
h1, .h1
	@include titre(3em)
h2, .h2
	@include titre(2.5em)	
h3, .h3
	@include titre(2em)
h4, .h4
	@include titre(1.7em)
h5, .h5
	@include titre(1.4em)
h6, .h6
	@include titre(1.2em)
kbd
	border: solid 1px #ccc 
// Décoration
mark
	background: #00CFFF
del
	text-decoration: line-through 
u
	text-decoration: underline
strong
	font-weight: bold
em
	font-style: italic
abbr
	color: #19003C
blockquote
	display: inline-block
	background: #CCCCCC
	font-style: italic
	font-size: 1.1em
	border-left: solid 3px #545454
	padding: 0.3em
	margin: 0.3em
	&:before
		content: "“ "
		font-size: 1.4em
		color: #545454
	&::after
		content: " „"
		font-size: 1.4em
		color: #545454
code
	font-family: "Andale Mono", AndaleMono, monospace
	display: inline-block 
	margin: 0.2em
	padding: 0.3em
	color: #64FF64
	background: #333


// Elements
ul
	list-style-type: disc
	list-style-position: inside
	padding-left: 0.3em
	&.square
		list-style-type: square
	&.none
		list-style-type: none
		padding-left: 0em
table
	margin: 0.3em
	td,th
		border: solid 2px #333
		padding: 0.5em
	th
		background: #aaa

















